<h1>Logueate</h1>

<form action="/login" method="post">
    Email: <input type="text" name="email" required><br>
    Contraseña: <input type="text" name="password" required><br>

    <br>

    <input type="submit" value="Iniciar Sesión">
</form>